
@media screen and (min-width:1025px) {
	.layout-2021 #navigation-top .horizontal-navigation-bar {padding: 0 25px;}
	.layout-2021 #main-navigation.header-nav {margin-right:100px!important;}


	.layout-2021 .home-content .img,
	.layout-2021 .shop-content .img,
	.layout-2021 .cookbook-content .img {background-position: -7px 0;}

	/*shop*/
	.layout-2021 .shop-content #page-body-wrapper #homeMainColumns #shopMainBodyNew {width:100%!important;}
	.layout-2021 .shop-content #page-body-wrapper #homeMainColumns #sidebar2021New {width:30%!important;}

	/*cookbook*/
	.layout-2021 .cookbook-content #page-body-wrapper #homeMainColumns #cookbookMainBodyNew {width:100%!important;}
	.layout-2021 .cookbook-content #page-body-wrapper #homeMainColumns #sidebar2021New {width:30%!important;}


	/*index - blog & travel section*/
	.layout-2021 .Home-page-body-header {margin-bottom:20px!important;}
	div#block-yui_3_17_2_1_1611179926529_30606, #block-yui_3_17_2_1_1611179926529_36843 {padding-top:15px!important;padding-bottom:15px!important;}
	#aboutMeFooter {padding-top:25px!important;}
	.layout-2021 #page-body-wrapper .main-content h2 a {color: #222;}
	.recipe-content .new-layout-blogs-general-2021 article, .collection-layout-newblog-2021 article {width:100%;}
}



@media screen and (max-width:1024px) {
	.layout-2021 #sidebar2021New {
    width: 30%;}
	.layout-2021 #page-body-wrapper .main-content h2 a {
    color: #222;
}
	.layout-2021 #page-body-wrapper #homeMainColumns #homeMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #shopMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #coachingMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #journeyMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #cookbookMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #merchandiseMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #brandsMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #amazonMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #pressMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #contactMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns .main-content {
		width:70%;
	}
	/*footer block*/
	#block-yui_3_17_2_1_1532375454856_5768 {display: none;}
	.layout-2021 .Home-page-body-header { margin-bottom:20px!important;}

	/*sidebar order cookbook*/
	#block-yui_3_17_2_1_1618689508729_8049 .img {margin:0 auto; width:71%; background-position: 0 0;}
	.sidebar-fix-home #block-yui_3_17_2_1_1618689508729_8049 .img {margin:0 auto; width:100%; background-position: 15% 0;}


	/*sidebar cookbook image*/
	.layout-2021 #page-body-wrapper.main-contact #block-yui_3_17_2_1_1618689508729_8049 .img, 
	.layout-2021 #canvas-wrapper.blog-content #block-yui_3_17_2_1_1618689508729_8049 .img,
	.layout-2021 #canvas-wrapper.recipe-content #block-yui_3_17_2_1_1618689508729_8049 .img,
	.layout-2021 #canvas-wrapper.travel-content #block-yui_3_17_2_1_1618689508729_8049 .img,
	.layout-2021 #canvas-wrapper.shop-content #block-yui_3_17_2_1_1618689508729_8049 .img {width: 100%;}

	/*blog*/
	.recipe-content .main-content article, .blog-content .main-content article.individual-post {width:100%;}
	/*shop*/
	.layout-2021 .shop-content #sopMainBodyNew {width:100%;}
	.layout-2021 .shop-content #sidebar2021New {width: 30%;}
}

@media screen and (max-width:768px){
	html, body{overflow-x: hidden;}
	p[data-rte-preserve-empty="true"] {display: none;}
	#block-5d708d35a95784f0cb37, /*instagrab images on sidrbar*/#block-yui_3_17_2_1_1611179926529_21860 {display: none;}

	.layout-2021 #sidebar2021New {width: 100%;}

	.layout-2021 #page-body-wrapper #homeMainColumns #shopMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #coachingMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #journeyMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #merchandiseMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #brandsMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #amazonMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #pressMainBodyNew, .layout-2021 #page-body-wrapper #homeMainColumns #contactMainBodyNew {
		width:100%;
	}
	.layout-2021 #page-body-wrapper #homeMainColumns #homeMainBodyNew,
	.layout-2021 #page-body-wrapper #homeMainColumns #cookbookMainBodyNew, {width:70%;}

	/*blog*/
	.layout-2021 #page-body-wrapper.one-sidebar .main-content {width: 65%; float: left; margin-right: 25px;} 
	.layout-2021.collection-type-blog #sidebar2021New.blog-sidebar{width:29%;}
	.blog-content #product-component-a14dec964d2-2 { margin: 0 0 0 29%;}
	.blog-content #page-about-me {margin-top:15px;}
	.blog-content #commenting {margin-bottom:15px;}


	/*recipe*/
	.recipe-content #commenting {margin-bottom:15px;}
	.recipe-content #product-component-a14dec964d2-2 { margin: 0 0 0 29%;}

	/*contact*/
	.layout-2021 #page-body-wrapper #homeMainColumns  {width:98%;}
	.layout-2021 .main-contact .main-content h2 {margin-right:20px;}
	.layout-2021 .main-contact #sidebar2021New {width:40%;}
	.layout-2021 #page-body-wrapper.main-contact #homeMainColumns {margin: 50px auto 0;}

	/*shop*/
	.layout-2021 .shop-content #product-component-a14dec964d2-2 { margin: 0 0 0 29%;}
	.layout-2021 .shop-content #sidebar2021New {width: 42%;}
	

	/*sidebar order cookbook*/

	#block-yui_3_17_2_1_1618689508729_8049 .img{ margin:0 auto; width:100%; background-position: 43% 0; }

	.layout-2021 #main-navigation.footer-nav .folder-collection>a {
		border-bottom: none;	
		display: inline-block;
	}
	.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection.index-3 .parent-link .footer-folder-title-text {
		visibility: visible;
	}

	body.canvas-setting-full-width #page-footer {text-align: left!important; margin-left:100px!important;margin-right:100px!important;}
	li.folder-collection.folder.index-2 span.mobile-only { position: relative; left: 40px; }
	.newsletter-form-wrapper{margin:15px 0!important;}
	/*featured on*/
	div#block-b18a9190d1cf8a13b72a {margin-top:0!important;}

	.layout-2021 .flickity-slider .banner-slide .banner-left {height: 50vw;}
	.layout-2021 #bannerCarousel .flickity-viewport, .layout-2021 #bannerCarousel .banner-slide {max-height:800px!important;}
	.layout-2021 .banner-right {padding-top:15px!important;}
	.layout-2021 #bannerCarousel .banner-slide h1 {font-size: 32px!important;}
	.layout-2021 #bannerCarousel .banner-slide p {font-size: 20px!important;}
	.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button {bottom: 40%;}


	/*yahoo image home header slide 4*/
	#bannerCarousel div#block-yui_3_17_2_1_1615230707963_180731.sqs-block.image-block.sqs-block-image.sqs-text-ready  {display: none!important;}

	/*home services section*/
	.layout-2021 #page-body-header .sqs-col-4 p {max-width: 100%!important;}

	#canvas-wrapper #homeMainColumns .summary-title a.summary-title-link {margin-bottom:0!important;}
	body.canvas-setting-full-width .horizontal-navigation-bar { padding-left: 0!important; padding-right: 0!important;}
	.layout-2021 #main-navigation.header-nav ul li {margin:0;}

	.layout-2021 #page-body-wrapper {padding-bottom:0!important;    padding-top: 0!important;}	
	#testimonialsWrapper {margin-bottom:15px!important;}
	.sidebar-fix-home #block-yui_3_17_2_1_1618689508729_8049 .img {margin:0 auto; width:100%; background-position: 43% 0;}

	
}

@media screen and (max-width:640px){
	

	#block-yui_3_17_2_1_1618689508729_8049 .img{ margin:0 auto; width:80%; background-position: -13px 0;}
	#page-header-wrapper.side-bar-fix-1 #block-yui_3_17_2_1_1618689508729_8049 .img{ margin: 0 auto; width: 90%; background-position: -11px 0;}
	body.canvas-setting-full-width #page-footer {margin-left:15px!important;margin-right:15px!important; padding-bottom:0;}
	#page-footer-wrapper {padding-bottom:20px!important;}
	.newsletter-form-wrapper{margin:0!important;}
	.sqs-block-newsletter {padding: 0!important;}
	
	.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button {bottom: 30%;}
	.layout-2021 .flickity-slider .banner-slide .banner-left {height: 60vw;}
	.layout-2021 .flickity-slider .banner-right {padding-top:0;}
	.layout-2021 #bannerCarousel .flickity-viewport, .layout-2021 #bannerCarousel .banner-slide {max-height: 650px!important;}
	.layout-2021 #bannerCarousel .flickity-viewport, .layout-2021 #bannerCarousel .banner-slide.non-banner-slide {max-height: 550px!important;}

	.layout-2021 #bannerCarousel .banner-slide h1 {font-size: 28px!important;}
	.layout-2021 #bannerCarousel .banner-slide p {font-size: 16px!important; text-align: center!important; line-height: 20px!important;}

	.layout-2021 #bannerCarousel .banner-slide .sqs-block-button-element { font-size: 13px !important; margin-bottom: 10px!important; }

	.layout-2021 .sqs-block-summary-v2 .summary-block-setting-text-size-medium .summary-title {font-size:16px;}
	.layout-2021 .sqs-block-summary-v2 .summary-excerpt {max-height: 206px!important; overflow: hidden;}


	.layout-2021 #page-body-wrapper #homeMainColumns {margin: 0 auto;}
	.layout-2021 #page-body-wrapper #homeMainColumns #homeMainBodyNew {width:100%;}


	/*contact*/
	.layout-2021 #page-body-wrapper #homeMainColumns .main-content, .layout-2021 .main-contact #sidebar2021New {width: 100%;}
	.layout-2021 #page-body-wrapper.main-contact #homeMainColumns {margin: 25px auto 0;}

	/*blog*/
	.layout-2021 #page-body-wrapper.one-sidebar .main-content, .layout-2021.collection-type-blog #sidebar2021New.blog-sidebar {width: 100%;}
	.layout-2021 #canvas-wrapper.blog-content #block-yui_3_17_2_1_1618689508729_8049 .img{width:80%;}
	.blog-content #product-component-a14dec964d2-2{margin: 0 0 0 19%;}

	/*recipe*/
	.layout-2021 #canvas-wrapper.recipe-content #product-component-a14dec964d2-2 {margin: 0 0 0 19%;}
	.layout-2021 #canvas-wrapper.recipe-content #block-yui_3_17_2_1_1618689508729_8049 .img{width:80%;}

	/*shop*/
	.layout-2021 #canvas-wrapper.shop-content #product-component-a14dec964d2-2 {margin: 0 0 0 19%;}
	.layout-2021 #canvas-wrapper.shop-content #block-yui_3_17_2_1_1618689508729_8049 .img{width:80%; padding-bottom:0;}
	.layout-2021 .shop-content #sidebar2021New {width: 100%;}

	/*cookbook*/
	.layout-2021 .cookbook-content #sidebar2021New {width: 100%;}

	/*journey*/
	.layout-2021 #canvas-wrapper.journey-content #block-yui_3_17_2_1_1618689508729_8049 .img{width:100%; background-position: 0 0;}


	/*sidebar - home*/
	.sidebar-fix-home #block-yui_3_17_2_1_1618689508729_8049 .img {
    margin: 0 auto; width: 87%; background-position: -25% 0;}

    /*newsletter*/
    .newsletter-block .newsletter-form-field-wrapper {width: 100%;}

}


