/* CSS Document */
@colorHome: collection-5c3b89a84fa51afb62cfa0e3;

#@{colorHome} {
	min-height: 2px;
	#page-header {
		&>.gallery-block {
			padding-top: 0!important;
			padding-bottom: 0!important;
			
		}	
		.sqs-gallery {
			.meta {
				left: 10px!important;
				bottom: 10px!important;
				margin-bottom: 10px;
				//transform: translatey(-50%);
				background: transparent;
				.meta-title {
					font-size: 43px;
//					padding: 12px 15px;
//					background-color: #fff;
//					color: #333;
//					text-decoration: none;
//					font-size: 22px;
//					display: inline-block;
				}
				.meta-description {
					//display: none;
				}
				.color-overlay {
					
				}
				.meta-description {
					a {
						padding: 15px;
						background-color: #fff;
						color: #333;
						text-decoration: none;
						font-size: 22px;
						display: inline-block;
					}
				}
				@media screen and (max-width: 768px) {
					//top: 10px!important;
					transform: translatey(0%);
					height: auto!important;
    			overflow: visible;
					max-width: 58%!important;
					.meta-title {
						font-size: 23px;
					}
					.meta-description a {
						padding: 10px;
						font-size: 17px;
					}
				}
			}
			.slide:nth-child(1) {
				.meta {
					.meta-title {
						max-width: 420px;
					}
				}
			}
			.slide:nth-child(2) {
				.meta {
					.meta-title {
						//color: black;
					}
				}
			}
			.slide:nth-child(3) {
				.meta {
					.meta-title {
						max-width: 520px;
					}
				}
			}
			.slide:nth-child(4) {
				.meta {
					.meta-title {
						
					}
				}
			}
			.slide:nth-child(5) {
				.meta {
					.meta-title {
						
					}
				}
			}
			.slide:nth-child(6) {
				.meta {
					.meta-title {
						color: black;
					}
				}
			}
			.slide:nth-child(7) {
				.meta {
					.meta-title {
						color: black;
					}
				}
			}
		}
	}
	.subnav-gallery-slide {
		.image-slide-anchor {
			padding-bottom: 75%;
		}
		.margin-wrapper > .image-slide-title {
			display: none;
		}
		position: relative;
		.overlay-full {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 9;
			opacity: 0.45;
			&.slide-overlay-0 {
				background-color: #df9b9b;
			}
			&.slide-overlay-1 {
				background-color: #7ab186;
			}
			&.slide-overlay-2 {
				background-color: #568fb3;
			}
			&.slide-overlay-3 {
				background-color: #a27baf;
			}
		}
		.overlay-half {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			opacity: 0.8;
			&.slide-overlay-0 {
				background-color: #ea937d;
			}
			&.slide-overlay-1 {
				background-color: #8bba98;
			}
			&.slide-overlay-2 {
				background-color: #4f81a1;
			}
			&.slide-overlay-3 {
				background-color: #d896cb;
			}
		}
		.overlay-title-holder {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 11;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
			.image-slide-title {
				color: white;
				font-size: 25px;
				text-align:center;
			}
			.slide-subtitle {
				color: white;
				text-align: center;
				margin: 10px 0;
				line-height: 115%;
				max-width: 280px;
			}
		}
		@media (max-width: 900px) {
			width: 50%!important;
		}
		@media (max-width: 510px) {
			width: 100%!important;
		}
	}
	@media (max-width: 510px) {
		#page-header {
			.sqs-gallery-design-stacked {
				min-height: 200px;
			}
			.sqs-gallery {
				.meta {
					right: 10px!important;
					bottom: 10px!important;
					max-width: none!important;
					text-align: center;
					display: block!important;
					top: 50%!important;
					transform: translatey(-50%);
					margin-top: 0;
					margin-bottom: 0;
					.meta-description {
						display: none;
					}
				}
			}
			.sqs-gallery .meta {
				display: block;
				.meta-title {
					font-size: 18px;
					text-shadow: 2px 2px 3px #444
				}
				.meta-description {
					a {
						font-size: 18px;
						padding: 12px;
					}
				}
			}
		}
	}
}

#comments-section {
	display: none;
}
#toggleCommentsLink {
	cursor: pointer;
}
.collection-type-blog {
	.entry-content {
		.ss-social-button-list {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			.ss-social-button-container {
				display: inline-block;
				margin: 0 10px;
				&.google {
					display: none;
				}
			}
		}
	}
	.jssocials-shares {
		a {
			line-height: inherit!important;
		}
		img {
			height: 35px;
			width: 35px;
		}
	}
}
body p {
	a {
		color: #0085bd;
	}
	a:link, a:visited {
		color: #0085bd;
	}
} 

#share {
	text-align: center;
	.jssocials-share {
		margin-top: 0;
	}
	.jssocials-share-link {
		height: 41px;
		width: 41px;
     color: white;
    border-radius: 100px;
	}
	.jssocials-share-label {
		display: none;
	}
	.jssocials-share-print img {
		//width: 24px;
	}
}

.post-entry-injection {
	.printfriendly {
		display: none!important;
		visibility: hidden;
	}
}

#sqs-slash-page-header {
	font-weight: 300!important;
	font-size: 33px!important;
	text-align: center;
}


#share .jssocials-share-twitter .jssocials-share-link,
#share .jssocials-share-link {
    background: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}
#collection-56c278e5b6aa607f7a7f8806 { /* amazon page  */
	#content-wrapper {
		.main-content {
			.sqs-col-12 .sqs-col-3 {
				@media (max-width: 980px) and (min-width: 769px) {
					width: 50%;
				}
			}
		}
	}
}
.amazon-block {
	.image-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		a {
			text-align: center;
			img {
				max-height: 200px;
				width: auto;
				margin: auto;
			}
		}
	}
	.product-author {
		display: none;
	}
}
input.sqs-amazon-button.sqs-system-button.sqs-editable-button {
    font-size: 17px;
    padding: 15px 20px!important;
    box-sizing: border-box;
    line-height: 100%;
	@media (max-width: 1110px) {
		font-size: 13px;
	}
}

#collection-5b734cc6032be457b8f4b390 {
	hr {
		
     border: 1px solid;
	}
}




#collection-5b47a0aa575d1f5997eaa305 {
	min-width: 1px;
	.main-content {
		min-width: 1px;
		article {
			min-width: 1px;
			.excerpt-image {
				min-width: 1px;
				position: relative;
				.cookbook-icon {
					position: absolute;
					bottom: 10px;
					left: 10px;
					z-index: 9;
					width: 40px!important;
					height: 32px!important;
					display: none!important;
					opacity: 0.8;
				}
			}
			&:nth-child(2) {
				.cookbook-icon {
					
				}
			}
		}
		article.category-cookbook {
			.cookbook-icon {
				display: inline-block !important;
				
			}
		}
	}
}

#collection-5b47a0aa575d1f5997eaa305 {
	article {
		.popup-content {
			display: none;
		}
	}
	.custombox-content {
		.closer {
			position: absolute;
			right: -20px;
			top: -21px;
			color: white;
			font-size: 22px;
			cursor: pointer;
			pointer-events: none;
		}
		.popup-content {
//			position: fixed;
//			top: 50%;
//			left: 50%;
//			transform: translate(-50%, -50%);
			position: relative;
			width: 560px;
			height: 630px;
			z-index: 999;
			background: white;
			.popup-inner-wrapper {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
			}
			.popup-top {
				height: 45%;
				background-size: cover;
    		background-position: center center;
				img {
					display: none;
				}
			}
			.popup-bottom {
				height: 55%;
				display: flex;
				flex-direction: column;
				    padding: 20px 30px;
				.popup-title-wrapper {
					height: 40%;
					h2 {
						font-size: 30px;
    margin-bottom: 0;
					}
					p {
						margin-top: 15px;
					}
				}
				.popup-actions {
					height: 60%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					img {
						width: 200px;
					}
					.modal-button {
						background: black;
						color: white;
						padding: 15px 30px;
						font-weight: bold;
						font-size: 20px;
					}
				}
			}
		}
	}
}

#page-header {
	.sqs-gallery-design-stacked {
		min-height: 50vh;
		@media screen and (max-width: 768px) {
			min-height: 20vh;
		}
	}
}

#mobile-navigation ul li .folder-toggle-label:after {
  content: '\002B';
  padding-right: .25em;
}
#mobile-navigation ul li a {
  padding-bottom: 3px;
}
#mobile-navigation ul li .folder-toggle-label:before {
  display: none;
}

#privy-container {
	.privy-button-element {
		font-weight: 700!important;
		padding-top: 9px;
	}
	.privy-thank-you {
		.privy-button-element {
			box-shadow: none!important;
			border: 2px solid black!important;
		}
		
	}
}
.privy-popup-container {
	background-color: rgba(0, 0, 0, 0.65)!important;
}


.homepage {
	#page-header-wrapper {
		.gallery-block {
			@media only screen and (max-width: 640px) {
				max-height: 280px!important;
				.thumb-image {
					max-height: 280px!important;
				}
			}
		}
	}
	.home-hero-slideshow {
		.slide {
			.meta {
				left: 0!important;
				.meta-description {
					margin-top: 30px;
					a {
						padding: 15px;
						background-color: white;
						color: #333;
						text-decoration: none;
						font-size: 22px;
					}
				}
			}
		}
		.slide:first-child {
			.meta {
				top: 10%;
			}
		}
	}
}
#collection-5bd9dacf575d1f8cef7be31d {  /* Press Page */
	.sqs-gallery-block-grid.sqs-gallery-block-meta-only-title .margin-wrapper .image-slide-title {
		text-align: left;
		color: #2a2a2a;
		font-weight: 400;
		font-size: 16px;
	}
	
}

#collection-5b8c050fc2241bd6c2cb8ab9 { /* Resources */
	#banner-area {
		#page-title {
			text-align: left;
		}
	}
}

.view-item.collection-type-blog {
	.sqs-block-code .shopify-buy-frame {
		max-width: 100%!important;
	}
}

#collection-5bcdc084104c7b8195ab4843 { /* Shop Page */
	#banner-area-wrapper {
		display: none;
	}
	.sqs-col-6 {
		.html-block {
			padding-top: 0;
		}
		.image-block {
			padding-bottom: 10px;
		}
	}
}

#collection-5bd9dacf575d1f8cef7be31d { /* press page */
	.sqs-gallery-design-grid-slide {
		padding-bottom: 30px;
		.image-slide-title {
			margin-top: 20px;
		}
	}
	.press-slide-title {
		white-space: normal!important;
	}
	@media (min-width: 641px) {
		.sqs-gallery-design-grid-slide:nth-child(2n+0) {
			padding-left: 10px;
			box-sizing: border-box;
		}
		.sqs-gallery-design-grid-slide:nth-child(2n+1) {
			padding-right: 10px;
			box-sizing: border-box;
		}
	}
	@media (max-width: 640px) {
		.sqs-gallery-design-grid-slide {
			width: 100%!important;
		}
	}
}

#collection-5692ee3f1115e0dc633ba4ad #page-header .sqs-gallery-design-stacked-slide:nth-child(2) .meta {
	left: 40px!important;
	top: 50%;
	bottom: auto;
	transform: translatey(-50%);
	background: transparent;
	height: auto!important;
	a {
		padding: 12px 35px;
		background: #e5e5e5;
		color: black;
		font-weight:bold;
		text-transform: uppercase;
		text-decoration:none;
		border-bottom: none;
	}
	.meta-title+.meta-description {
		margin-top: 1.3em;
	}
  }

.collection-5692ff0cc03355f6755d9dc2.view-item {
	article {
		p {
			font-size: 15px;
		}
	}
}

#collection-5c9e22c1fa0d605f4af6e486 { /* Travel Blog Index */
	#banner-area-wrapper {
		min-height: 50vw;
		#page-title-wrapper {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	#privy-container #privy-inner-container .privy .privy-dismiss-content {
		width: 16px!important;
		height: 16px!important;
	}
}












