/* CSS Document */

#comments-section {
	display: none;
}
#toggleCommentsLink {
	cursor: pointer;
}
.collection-type-blog {
	.entry-content {
		.ss-social-button-list {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			.ss-social-button-container {
				display: inline-block;
				margin: 0 10px;
				&.google {
					display: none;
				}
			}
		}
	}
	.jssocials-shares {
		img {
			height: 35px;
			width: 35px;
		}
	}
}
body p {
	a {
		color: #0085bd;
	}
	a:link, a:visited {
		color: #0085bd;
	}
} 

#share {
	text-align: center;
	.jssocials-share {
		margin-top: 0;
	}
	.jssocials-share-link {
		height: 41px;
		width: 41px;
     color: white;
    border-radius: 100px;
	}
	.jssocials-share-label {
		display: none;
	}
	.jssocials-share-print img {
		//width: 24px;
	}
}

.post-entry-injection {
	.printfriendly {
		display: none!important;
		visibility: hidden;
	}
}

#sqs-slash-page-header {
	font-weight: 300!important;
	font-size: 33px!important;
	text-align: center;
}


#share .jssocials-share-twitter .jssocials-share-link,
#share .jssocials-share-link {
    background: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}

.amazon-block {
	.image-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		a {
			text-align: center;
			img {
				max-height: 200px;
				width: auto;
				margin: auto;
			}
		}
	}
}
input.sqs-amazon-button.sqs-system-button.sqs-editable-button {
    font-size: 17px;
    padding: 15px 20px!important;
    box-sizing: border-box;
    line-height: 100%;
}

#collection-5b734cc6032be457b8f4b390 {
	hr {
		
     border: 1px solid;
	}
}
























