/* CSS Document */
.layout-2021 {
  font-family: Roboto!important;
}
.layout-2021 *:focus,
.layout-2021 * {
  outline: none;
}
.layout-2021 .element-is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.layout-2021 .element-is-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.layout-2021 .element-is-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.layout-2021 h1 {
  font-family: Roboto!important;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.03em;
}
.layout-2021 p {
  font-family: Roboto!important;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 0.03em;
}
.layout-2021 .sqs-block-button .sqs-block-button-element--medium {
  font-family: Roboto!important;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.135em;
  color: black;
  background: white;
  border: 1px solid black;
}
.layout-2021 .container {
  max-width: 1240px;
  margin: auto;
}
.layout-2021 #page-header-wrapper {
  background: none;
  background-color: transparent;
}
.layout-2021 #bannerCarousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #e7e5e5;
  border-bottom: 1px solid #e7e5e5;
}
.layout-2021 #bannerCarousel .banner-slide {
  width: 100%;
}
.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  height: 80px;
  width: 42px;
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.16);
}
.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button svg {
  fill: white;
}
.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button.previous {
  left: 0;
}
.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button.next {
  right: 0;
}
.layout-2021 .image-caption p {
  font-family: Roboto!important;
  font-style: normal;
  font-weight: 400!important;
  font-size: 14px!important;
  line-height: 124.19%;
  text-transform: none;
  text-align: center;
  color: #000;
}
.layout-2021 #main-navigation {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
}
.layout-2021 #main-navigation ul li {
  margin-left: 20px;
}
.layout-2021 #main-navigation ul li a {
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.135em;
  line-height: 135%;
  font-weight: bold;
  color: #808080;
}
.layout-2021 #main-navigation ul li a.active-link {
  color: #000;
}
.layout-2021 .banner-left {
  width: 50%;
  background-size: cover;
  background-position: center center;
}
.layout-2021 .banner-right {
  width: 50%;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.layout-2021 .banner-right .sqs-layout {
  max-width: 450px;
}
.layout-2021 .banner-right .sqs-layout .html-block a {
  color: #3a9ed7;
}
.layout-2021 .banner-right .sqs-layout .button-block {
  margin-top: 20px;
}
.layout-2021 .banner-slide {
  display: flex;
  justify-content: space-between;
}
.layout-2021 .banner-slide h1 {
  font-size: 38px!important;
  color: #000;
  font-weight: bold!important;
}
.layout-2021 .banner-slide p {
  font-size: 24px;
  color: black;
}
.layout-2021 #main-navigation.footer-nav .flex-nav {
  display: flex;
  flex-wrap: wrap;
}
.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection {
  width: 25%;
  margin-left: 0;
}
.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection.index-2 {
  width: 50%;
}
.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection.index-2 ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection.index-2 ul li {
  flex: 1 1 30px;
}
