/* CSS Document */

.layout-2021 {
  *:focus,
  * {
    outline: none;
  }
  font-family: Roboto!important;
  .element-is-flex {
    display: -webkit-box;display: -ms-flexbox;display: flex;
  } 
  .element-is-space-between {
    -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
  }
  .element-is-align-center {
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
  }
  
  h1 {
    font-family: Roboto!important;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.03em;
  }
  p {
    font-family: Roboto!important;
    font-weight: 300;
    line-height: 125%;
    letter-spacing: 0.03em;
  }
  .sqs-block-button .sqs-block-button-element--medium {
    font-family: Roboto!important;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.135em;
    color: black;
    background: white;
    border: 1px solid black;
  }
  .container {
    max-width: 1240px;
    margin: auto;
  }
  #page-header-wrapper {
    background: none;
    background-color: transparent;
  }
  
  #bannerCarousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e7e5e5;
    border-bottom: 1px solid #e7e5e5;
    .banner-slide {
      width: 100%;
    }
    button.flickity-button.flickity-prev-next-button {
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      height: 80px;
      width: 42px;
      border: none;
      border-radius: 0;
      background: rgba(0,0,0,0.16);
      svg {
        fill: white;
      }
      @media (max-width: 798px) {
        top: auto;
        bottom: 2%;
      }
    }
    button.flickity-button.flickity-prev-next-button.previous { 
      left: 0;
    }
    button.flickity-button.flickity-prev-next-button.next {
      right: 0;
    }
  }
  .image-caption {
    p {
      font-family: Roboto!important;
      font-style: normal;
      font-weight: 400!important;
      font-size: 14px!important;
      line-height: 124.19%;
      text-transform: none;
      text-align: center;
      color: #000;
    }
  }
  
  
  
  
  
  
  
  
  #navigation-top {
    .horizontal-navigation-bar {
      @media (max-width: 1040px) {
        flex-direction: column;
      }
      @media (max-width: 640px) {
        display: none;
      }
    }
  }
  
  
  
  #main-navigation {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    ul {
      li {
        margin-left: 18px;
        @media (max-width: 768px) {
          margin-left: 10px;
        }
        a {
          font-family: Roboto;
          font-size: 14px;
          letter-spacing: 0.135em;
          line-height: 135%;
          font-weight: bold;
          color: #808080;
          &.active-link {
            color: #000;
          }
        }
      }
    }
  }
  
  #page-body-wrapper {
    padding-bottom: 20px;
    #homeMainColumns {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1200px;
      margin: 40px auto 20px;
      @media (max-width: 640px) {
        flex-direction: column;
      }
      #homeMainBodyNew,
      #coachingMainBodyNew{ 
        display: inline-block;
        width: 75%;
        //flex: 3;
        min-height: 10px;
        padding-right: 10px;
        @media (max-width: 640px) {
          width: 100%;
          padding-right: 0px;
        }
      }
      #sidebar2021New {
        display: inline-block;
        width: 25%;
        //flex: 1;
        min-height: 10px;
        padding-left: 20px;
        padding-top: 20px;
        @media (max-width: 640px) {
          width: 100%;
          padding-left: 0px;
        }
      }
    }
    .main-content {
      h2 {
        a {
          color: #3a9ed7;
        }
      }
    }
    .newsletter-form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }
  #page-body {
    max-width: none;
    .sqs-layout {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  
  .banner-left {
    width: 50%;
    background-size: cover;
    background-position: center center;
  }

  .banner-right {
    width: 50%;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    &.banner-right-smaller {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @media (max-width: 1080px) {
      padding-top: 50px;
      padding-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .sqs-layout {
      max-width: 450px;
      .html-block {
        a {
          color: #3a9ed7;
        }
      }
      .button-block {
        margin-top: 20px;
      }
    }
  }

  .banner-slide {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 38px!important;
      color: #000;
      font-weight: bold!important;
      @media (max-width: 520px) {
      font-size: 28px!important;
      }
    }
    p {
      font-size: 24px;
      color: black;
    }
    .sqs-block-button .sqs-block-button-element--medium {
      
    }
    @media (max-width: 768px) {
      flex-direction: column;
      .banner-left {
        width: 100%;
        height: 60vw;
        background-position: 50% 0%;
      }
      .banner-right {
        width: 100%;
        height: auto;
      }
      .sqs-block-button-container--left {
        text-align: center;
      }
    }
  }
  .banner-slide.banner-slide-4 {
    @media (max-width: 768px) {
      .banner-left {
        background-position: 50% 50%;
      }
    }
  }
  
  .Home-page-body-header {
    min-height: 1px;
    border-bottom: 1px solid #e7e5e5;
    @media (max-width: 1000px) {
      min-height: 2px;
    .sqs-grid-12 .row .sqs-col-12 {
        display: flex;
      }
    .sqs-grid-12 .row .sqs-col-12 > .row > .col {
        width: 100%;
        .sqs-col-2 {
          width: 25%!important;
          float: left!important;
          @media (max-width: 510px) {
          width: 50%!important;
          }
        }
      }
    }
  }
  
  
  
  
  .footer-wrapper-2021 {
    .footer-top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      img#banner {
        width: 180px;
      }
      #sqs-social {
        margin: 0!important;
      }
    }
  }
  
  #main-navigation.footer-nav {
    .folder-collection > a {
      color: black!important; 
      display: block;
      border-bottom: 1px solid black;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .flex-nav {
      display: flex;
      flex-wrap: wrap;
      .folder-collection {
        width: 25%;
        margin-left: 0;
        padding-left: 0px;
        padding-right: 40px;
        box-sizing: border-box;
        margin-bottom: 25px;
        @media (max-width: 768px) {
          width: 100%;
        }
        li {
          flex: 1 1 22px;
          margin-left: 0;
        }
        &.index-2 {
          width: 50%;
          @media (max-width: 768px) {
            width: 100%;
          }
          ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 186px;
            li {
              flex: 1 1 22px;
              margin-left: 0;
            }
            @media (max-width: 400px) {
              flex-wrap: nowrap;
              height: auto;
            }
          }
        }
      }
      .mobile-only {
        display: none;
    padding-left: 6px;
      }
      @media (max-width: 768px) {
        .subnav {
          display: none;
        }
        .mobile-only {
          display: inline-block;
        }
      }
    }
  }
  
  
  
  
  &#collection-60107661840b340b596beedd {
    #page-body {
      max-width: 1200px;
    }
  }
  
  .one-sidebar-new-blog {
    h2 {
      font-size: 26px;
    }
  }
}

.hidden-heading {
  display: none;
}

.one-sidebar-new-blog {
  .hidden-heading {
    display: block;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 700;
  }
}


#blogNav {
  display: none;
  //border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.one-sidebar-new-blog #blogNav {
  display: block;
  .custom-nav-link {
    display: inline-block;
  }
}
#page-body-wrapper.one-sidebar-flush-top {
  padding-top: 0;
}
ul.custom-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

li.custom-nav-item {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

a.custom-nav-link {
  border: 1px solid #999;
  border-radius: 100px;
  padding: 9px 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  &:hover {
    color: white;
    background: #333;
  }
}










#collection-5e8fbf73e5b08e4c70bd8cbb {
  #page-body-header {
    margin-bottom: 30px;
    a {
      border: 1px solid #999;
      border-radius: 100px;
      padding: 9px 15px;
      margin-left: 5px;
      margin-right: 5px;
      text-transform: uppercase;
      color: #000;
    }
  }
}

#newGallery {
  .grid-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .new-gallery-grid-item {
    width: 45%;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 30px;
    .background-formatter {
      background-size: cover;
      background-position: center;
      height: 0;
      padding-top: 56%;
      position: relative;
    }
    a {
      width: 100%;
    }
    img {
      width: 100%;
      visibility: hidden;
    }
    .play-icon {
      width: 40px;
      height: auto;
      visibility: visible;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    h4 {
      font-family: proxima-nova;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    p {
      font-family: 'proxima-nova';
      font-size: 16px;
      font-style:italic;
      font-weight: 300;
    }
  }
}


#testimonialsWrapper {
  padding-left: 40px;
  padding-right: 40px;
    padding-bottom: 120px;
  #testimonialCarousel {
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    background: #6F7FB5;
    border-radius: 2px;
    .flickity-slider {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .testimonial-slide {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .testimonial-body {
        p {
          color: white;
        }
      }
      .testimonial-author {
        color: white;
        font-weight: bold;
      }
    }
  }
}

















