/* CSS Document */
.layout-2021 {
  font-family: Roboto;
}
.layout-2021 .element-is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.layout-2021 .element-is-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.layout-2021 .element-is-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.layout-2021 #main-navigation {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
}
.layout-2021 #main-navigation ul li {
  margin-left: 20px;
}
.layout-2021 #main-navigation ul li a {
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.135em;
  line-height: 135%;
  font-weight: bold;
  color: #808080;
}
.layout-2021 #main-navigation ul li a.active-link {
  color: #000;
}
.layout-2021 .banner-left {
  width: 50%;
  background-size: cover;
  background-position: center center;
}
.layout-2021 .banner-right {
  width: 50%;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.layout-2021 .banner-right .sqs-layout {
  max-width: 450px;
}
.layout-2021 .banner-slide {
  display: flex;
  justify-content: space-between;
}
