/* CSS Document */

.layout-2021 {
  *:focus,
  * {
    outline: none;
  }
  font-family: Roboto!important;
  .element-is-flex {
    display: -webkit-box;display: -ms-flexbox;display: flex;
  } 
  .element-is-space-between {
    -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
  }
  .element-is-align-center {
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
  }
  
  h1 {
    font-family: Roboto!important;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.03em;
  }
  p {
    font-family: Roboto!important;
    font-weight: 300;
    line-height: 125%;
    letter-spacing: 0.03em;
  }
  .sqs-block-button .sqs-block-button-element--medium {
    font-family: Roboto!important;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.135em;
    color: black;
    background: white;
    border: 1px solid black;
  }
  .container {
    max-width: 1240px;
    margin: auto;
  }
  #page-header-wrapper {
    background: none;
    background-color: transparent;
  }
  
  #bannerCarousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e7e5e5;
    border-bottom: 1px solid #e7e5e5;
    .banner-slide {
      width: 100%;
    }
    button.flickity-button.flickity-prev-next-button {
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      height: 80px;
      width: 42px;
      border: none;
      border-radius: 0;
      background: rgba(0,0,0,0.16);
      svg {
        fill: white;
      }
    }
    button.flickity-button.flickity-prev-next-button.previous { 
      left: 0;
    }
    button.flickity-button.flickity-prev-next-button.next {
      right: 0;
    }
  }
  .image-caption {
    p {
      font-family: Roboto!important;
      font-style: normal;
      font-weight: 400!important;
      font-size: 14px!important;
      line-height: 124.19%;
      text-transform: none;
      text-align: center;
      color: #000;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  #main-navigation {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    ul {
      li {
        margin-left: 20px;
        a {
          font-family: Roboto;
          font-size: 14px;
          letter-spacing: 0.135em;
          line-height: 135%;
          font-weight: bold;
          color: #808080;
          &.active-link {
            color: #000;
          }
        }
      }
    }
  }
  
  
  
  
  .banner-left {
    width: 50%;
    background-size: cover;
    background-position: center center;
  }

  .banner-right {
    width: 50%;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    @media (max-width: 1080px) {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .sqs-layout {
      max-width: 450px;
      .html-block {
        a {
          color: #3a9ed7;
        }
      }
      .button-block {
        margin-top: 20px;
      }
    }
  }

  .banner-slide {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 38px!important;
      color: #000;
      font-weight: bold!important;
    }
    p {
      font-size: 24px;
      color: black;
    }
    .sqs-block-button .sqs-block-button-element--medium {
      
    }
    @media (max-width: 768px) {
      flex-direction: column;
      .banner-left {
        width: 100%;
        height: 80vh;
      }
      .banner-right {
        width: 100%;
        height: auto;
      }
    }
  }
  
  .footer-wrapper-2021 {
    .footer-top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      img#banner {
        width: 180px;
      }
      #sqs-social {
        margin: 0!important;
      }
    }
  }
  
  #main-navigation.footer-nav {
    .folder-collection > a {
      color: black!important; 
      display: block;
      border-bottom: 1px solid black;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .flex-nav {
      display: flex;
      flex-wrap: wrap;
      .folder-collection {
        width: 25%;
        margin-left: 0;
        padding-left: 0px;
        padding-right: 40px;
        box-sizing: border-box;
        margin-bottom: 25px;
        @media (max-width: 768px) {
          width: 100%;
        }
        li {
          flex: 1 1 22px;
          margin-left: 0;
        }
        &.index-2 {
          width: 50%;
          @media (max-width: 768px) {
            width: 100%;
          }
          ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 186px;
            li {
              flex: 1 1 22px;
              margin-left: 0;
            }
            @media (max-width: 400px) {
              flex-wrap: nowrap;
              height: auto;
            }
          }
        }
      }
    }
  }
  
  
  
  
  
  
}




























