/* CSS Document */

.layout-2021 {
  min-height: 1px;
  .element-is-flex {
    display: -webkit-box;display: -ms-flexbox;display: flex;
  } 
  .element-is-space-between {
    -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
  }
  .element-is-align-center {
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  #main-navigation {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    ul {
      li {
        margin-left: 20px;
        a {
          font-family: Roboto;
          font-size: 14px;
          letter-spacing: 0.135em;
          line-height: 135%;
          font-weight: bold;
          color: #808080;
          &.active-link {
            color: #000;
          }
        }
      }
    }
  }
  
  
  
  
  .banner-left {
    width: 50%;
  }

  .banner-right {
    width: 50%;
  }

  .banner-slide {
    display: flex;
    justify-content: space-between;
  }
  
  
  
  
  
  
}