/* CSS Document */
.dropdown-caret {
  display: none;
}
.layout-2021 > .shopify-buy-frame {
  display: none;
}
.layout-2021 {
  font-family: Roboto!important;
  /***************Header and Nav stuff ******************/
  /***************Blog layouts ******************/
}
.layout-2021 *:focus,
.layout-2021 * {
  outline: none;
}
.layout-2021 .element-is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.layout-2021 .element-is-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.layout-2021 .element-is-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.layout-2021 h1 {
  font-family: Roboto!important;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.03em;
}
.layout-2021 p {
  font-family: Roboto!important;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 0.03em;
}
.layout-2021 h1,
.layout-2021 h2,
.layout-2021 h3,
.layout-2021 h4,
.layout-2021 h5,
.layout-2021 h6 {
  font-family: Roboto!important;
}
.layout-2021 #navigation-top .folder-collection:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 11px;
  background-image: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4 4L7 1" stroke="#808080" stroke-width="2"/></svg>');
}
.layout-2021 #navigation-top .dropdown-caret {
  display: inline;
  margin-bottom: 2px;
}
.layout-2021 .sqs-block-button .sqs-block-button-element--medium {
  font-family: Roboto!important;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.135em;
  color: black;
  background: white;
  border: 1px solid black;
}
.layout-2021 .container {
  max-width: 1240px;
  margin: auto;
}
.layout-2021 #page-header-wrapper {
  background: none;
  background-color: transparent;
}
.layout-2021 #bannerCarousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #e7e5e5;
  border-bottom: 1px solid #e7e5e5;
}
.layout-2021 #bannerCarousel .banner-slide {
  width: 100%;
}
.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  height: 80px;
  width: 42px;
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.16);
}
.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button svg {
  fill: white;
}
@media (max-width: 798px) {
  .layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button {
    top: auto;
    bottom: 2%;
  }
}
.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button.previous {
  left: 0;
}
.layout-2021 #bannerCarousel button.flickity-button.flickity-prev-next-button.next {
  right: 0;
}
.layout-2021 .image-caption p {
  font-family: Roboto!important;
  font-style: normal;
  font-weight: 400!important;
  font-size: 14px!important;
  line-height: 124.19%;
  text-transform: none;
  text-align: center;
  color: #000;
}
@media (max-width: 1040px) {
  .layout-2021 #navigation-top .horizontal-navigation-bar {
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .layout-2021 #navigation-top .horizontal-navigation-bar {
    display: none;
  }
}
.layout-2021 #mobile-navigation ul {
  text-align: left;
  margin-left: 13px;
}
.layout-2021 #mobile-navigation ul li .folder-toggle-label {
  text-indent: 0;
}
.layout-2021 #main-navigation {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
}
.layout-2021 #main-navigation ul li {
  margin-left: 18px;
}
@media (max-width: 768px) {
  .layout-2021 #main-navigation ul li {
    margin-left: 10px;
  }
}
.layout-2021 #main-navigation ul li a {
  font-family: 'proxima-nova';
  font-size: 14px;
  letter-spacing: 0.135em;
  line-height: 135%;
  font-weight: 500;
  color: #808080;
}
.layout-2021 #main-navigation ul li a.active-link {
  color: #000;
}
.layout-2021 #page-body-wrapper {
  padding-bottom: 20px;
}
.layout-2021 #page-body-wrapper #homeMainColumns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 40px auto 20px;
}
@media (max-width: 640px) {
  .layout-2021 #page-body-wrapper #homeMainColumns {
    flex-direction: column;
  }
}
.layout-2021 #page-body-wrapper #homeMainColumns #homeMainBodyNew,
.layout-2021 #page-body-wrapper #homeMainColumns #shopMainBodyNew,
.layout-2021 #page-body-wrapper #homeMainColumns #coachingMainBodyNew {
  display: inline-block;
  width: 75%;
  min-height: 10px;
  padding-right: 10px;
}
@media (max-width: 640px) {
  .layout-2021 #page-body-wrapper #homeMainColumns #homeMainBodyNew,
  .layout-2021 #page-body-wrapper #homeMainColumns #shopMainBodyNew,
  .layout-2021 #page-body-wrapper #homeMainColumns #coachingMainBodyNew {
    width: 100%;
    padding-right: 0px;
  }
}
.layout-2021 #page-body-wrapper #homeMainColumns #sidebar2021New {
  display: inline-block;
  width: 25%;
  min-height: 10px;
  padding-left: 20px;
  padding-top: 20px;
}
@media (max-width: 640px) {
  .layout-2021 #page-body-wrapper #homeMainColumns #sidebar2021New {
    width: 100%;
    padding-left: 0px;
  }
}
.layout-2021 #page-body-wrapper .main-content h2 a {
  color: #3a9ed7;
}
.layout-2021 #page-body-wrapper .newsletter-form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layout-2021 #page-body {
  max-width: none;
}
.layout-2021 #page-body .sqs-layout {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.layout-2021 #page-body-header h1 {
  font-weight: 500!important;
}
.layout-2021 #page-body-header p {
  font-size: 20px;
  max-width: 230px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.layout-2021 .banner-left {
  width: 50%;
  background-size: cover;
  background-position: center center;
}
.layout-2021 .banner-right {
  width: 50%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.layout-2021 .banner-right.banner-right-smaller {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 1080px) {
  .layout-2021 .banner-right {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.layout-2021 .banner-right .sqs-layout {
  max-width: 550px;
}
.layout-2021 .banner-right .sqs-layout .html-block a {
  color: #3a9ed7;
}
.layout-2021 .banner-right .sqs-layout .button-block {
  margin-top: 20px;
}
.layout-2021 .banner-right .sqs-layout > .sqs-row {
  margin-left: 0;
  margin-right: 0;
}
.layout-2021 .banner-slide {
  display: flex;
  justify-content: space-between;
}
.layout-2021 .banner-slide h1 {
  font-size: 38px!important;
  color: #000;
  font-weight: 500!important;
}
@media (max-width: 520px) {
  .layout-2021 .banner-slide h1 {
    font-size: 28px!important;
  }
}
.layout-2021 .banner-slide p {
  font-size: 24px;
  color: black;
}
@media (max-width: 768px) {
  .layout-2021 .banner-slide {
    flex-direction: column;
  }
  .layout-2021 .banner-slide .banner-left {
    width: 100%;
    height: 60vw;
    background-position: 50% 0%;
  }
  .layout-2021 .banner-slide .banner-right {
    width: 100%;
    height: auto;
  }
  .layout-2021 .banner-slide .sqs-block-button-container--left {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .layout-2021 .banner-slide.banner-slide-4 .banner-left {
    background-position: 50% 50%;
  }
}
.layout-2021 .Home-page-body-header {
  min-height: 1px;
  border-bottom: 1px solid #e7e5e5;
}
@media (max-width: 1000px) {
  .layout-2021 .Home-page-body-header {
    min-height: 2px;
  }
  .layout-2021 .Home-page-body-header .sqs-grid-12 .row .sqs-col-12 {
    display: flex;
  }
  .layout-2021 .Home-page-body-header .sqs-grid-12 .row .sqs-col-12 > .row > .col {
    width: 100%;
  }
  .layout-2021 .Home-page-body-header .sqs-grid-12 .row .sqs-col-12 > .row > .col .sqs-col-2 {
    width: 25%!important;
    float: left!important;
  }
}
@media (max-width: 1000px) and (max-width: 510px) {
  .layout-2021 .Home-page-body-header .sqs-grid-12 .row .sqs-col-12 > .row > .col .sqs-col-2 {
    width: 50%!important;
  }
}
.layout-2021 .footer-wrapper-2021 {
  background: #f9f9f9;
}
.layout-2021 .footer-wrapper-2021 .footer-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .layout-2021 .footer-wrapper-2021 .footer-top-row {
    flex-direction: column;
    padding-top: 0;
  }
  .layout-2021 .footer-wrapper-2021 .footer-top-row #banner-wrapper {
    margin-right: 0!important;
    margin-bottom: 10px;
  }
}
.layout-2021 .footer-wrapper-2021 .footer-top-row img#banner {
  width: 180px;
}
.layout-2021 .footer-wrapper-2021 .footer-top-row #sqs-social {
  margin: 0!important;
}
.layout-2021 .footer-wrapper-2021 #main-navigation ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.layout-2021 .footer-wrapper-2021 #main-navigation ul li ul li a {
  font-weight: 400;
  font-size: 16px;
  color: #7d7d7d;
}
@media (max-width: 640px) {
  .layout-2021 #page-footer-wrapper {
    padding-top: 10px!important;
  }
  .layout-2021 #page-footer-wrapper .footer-top-row {
    padding-bottom: 40px;
  }
}
.layout-2021 #main-navigation.footer-nav .folder-collection > a {
  color: black!important;
  display: block;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.layout-2021 #main-navigation.footer-nav .flex-nav {
  display: flex;
  flex-wrap: wrap;
}
.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection {
  width: 25%;
  margin-left: 0;
  padding-left: 0px;
  padding-right: 40px;
  box-sizing: border-box;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection {
    width: 100%;
    padding-right: 0px;
  }
}
.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection li {
  flex: 1 1 22px;
  margin-left: 0;
}
.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection.index-2 {
  width: 50%;
}
@media (max-width: 768px) {
  .layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection.index-2 {
    width: 100%;
  }
}
.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection.index-2 ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 186px;
}
.layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection.index-2 ul li {
  flex: 1 1 22px;
  margin-left: 0;
}
@media (max-width: 400px) {
  .layout-2021 #main-navigation.footer-nav .flex-nav .folder-collection.index-2 ul {
    flex-wrap: nowrap;
    height: auto;
  }
}
.layout-2021 #main-navigation.footer-nav .flex-nav .mobile-only {
  display: none;
  padding-left: 6px;
}
@media (max-width: 768px) {
  .layout-2021 #main-navigation.footer-nav .flex-nav .subnav {
    display: none;
  }
  .layout-2021 #main-navigation.footer-nav .flex-nav .mobile-only {
    display: inline-block;
  }
}
.layout-2021#collection-60107661840b340b596beedd #page-body {
  max-width: 1200px;
}
.layout-2021.collection-type-blog.view-list #page-body {
  max-width: 1200px;
}
.layout-2021.collection-type-blog.view-list #page-body {
  max-width: 1200px;
}
.layout-2021 .one-sidebar-new-blog h2 {
  font-size: 26px;
}
.hidden-heading {
  display: none;
}
.one-sidebar-new-blog .hidden-heading {
  display: block;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 700;
}
#blogNav {
  display: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.one-sidebar-new-blog #blogNav {
  display: block;
}
.one-sidebar-new-blog #blogNav .custom-nav-link {
  display: inline-block;
}
.one-sidebar-new-blog {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-body-wrapper.one-sidebar-flush-top {
  padding-top: 0;
}
ul.custom-nav-list {
  /*
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  */
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
li.custom-nav-item {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  min-width: 150px;
}
a.custom-nav-link {
  border: 1px solid #999;
  border-radius: 100px;
  padding: 9px 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
}
a.custom-nav-link:hover {
  color: white;
  background: #333;
}
#collection-5e8fbf73e5b08e4c70bd8cbb #page-body-header {
  margin-bottom: 30px;
}
#collection-5e8fbf73e5b08e4c70bd8cbb #page-body-header a {
  border: 1px solid #999;
  border-radius: 100px;
  padding: 9px 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  color: #000;
}
#newGallery .grid-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#newGallery .new-gallery-grid-item {
  width: 45%;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 30px;
}
#newGallery .new-gallery-grid-item .background-formatter {
  background-size: cover;
  background-position: center;
  height: 0;
  padding-top: 56%;
  position: relative;
}
#newGallery .new-gallery-grid-item a {
  width: 100%;
}
#newGallery .new-gallery-grid-item img {
  width: 100%;
  visibility: hidden;
}
#newGallery .new-gallery-grid-item .play-icon {
  width: 40px;
  height: auto;
  visibility: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#newGallery .new-gallery-grid-item h4 {
  font-family: proxima-nova;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 10px;
}
#newGallery .new-gallery-grid-item p {
  font-family: 'proxima-nova';
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}
#testimonialsWrapper {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 120px;
  padding-top: 60px;
  background: #f8f8f8;
}
#testimonialsWrapper #testimonialsTitle {
  font-weight: 500!important;
  font-size: 32px!important;
  color: #000000;
  text-align: center;
}
#testimonialsWrapper #testimonialCarousel {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  background: #6F7FB5;
  border-radius: 2px;
  padding-top: 40px;
  padding-bottom: 40px;
}
#testimonialsWrapper #testimonialCarousel .flickity-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
#testimonialsWrapper #testimonialCarousel .testimonial-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#testimonialsWrapper #testimonialCarousel .testimonial-slide .testimonial-body {
  padding: 40px;
  max-width: 900px;
}
#testimonialsWrapper #testimonialCarousel .testimonial-slide .testimonial-body p {
  color: white;
  font-size: 18px;
  line-height: 160%;
}
#testimonialsWrapper #testimonialCarousel .testimonial-slide .testimonial-author {
  color: white;
  font-size: 18px;
}
#testimonialsWrapper .flickity-page-dots {
  bottom: -55px;
}
#testimonialsWrapper .flickity-page-dots .dot {
  width: 18px;
  height: 18px;
  background: #6476A4;
}
#testimonialsWrapper .testimonial-quote {
  position: absolute;
  width: 45px;
}
#testimonialsWrapper .testimonial-quote-open {
  top: 0;
  left: 30px;
}
#testimonialsWrapper .testimonial-quote-close {
  bottom: 0;
  right: 30px;
}
#page-newsletter h2 {
  font-weight: 500;
  font-size: 32px;
}
#page-about-me h2 {
  font-weight: 500;
  font-size: 32px;
}
#page-about-me h3 {
  font-size: 28px;
  color: black;
  font-weight: 300;
}
#page-about-me p {
  font-size: 17px;
  line-height: 170%;
}
/******************** featured on section ************************/
#page-body-wrapper.featured-on-body-wrapper {
  padding-top: 20px;
}
#page-featured-on h2 {
  font-weight: 500;
  font-size: 20px;
}
#page-featured-on h2 a {
  font-weight: 400;
  font-size: 24px;
  color: #3A9ED7!important;
}
#page-featured-on .sqs-col-12 > .sqs-block:last-child {
  padding-top: 0;
}
/*********************** Homepage ************************/
#canvas-wrapper #homeMainColumns h1 {
  font-size: 32px!important;
  font-weight: 500!important;
}
