.sqs-video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}
.sqs-video-background iframe {
  border-width: 0;
}
.sqs-video-background iframe:not(.background-video) {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translatex(-1000%);
  -moz-transform: translatex(-1000%);
  -ms-transform: translatex(-1000%);
  transform: translatex(-1000%);
}
.sqs-video-background .background-video,
.sqs-video-background .default-fallback-image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  z-index: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.sqs-video-background .background-video.ready,
.sqs-video-background .default-fallback-image.ready,
.sqs-video-background .background-video.loaded,
.sqs-video-background .default-fallback-image.loaded {
  opacity: 1;
}
.sqs-video-background .default-fallback-image {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sqs-video-background .background-video.buffering {
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.sqs-video-background .default-fallback-image.buffering {
  opacity: 1;
  z-index: 2;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.sqs-video-background .custom-fallback-image {
  display: none;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  z-index: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.sqs-video-background .custom-fallback-image.loaded {
  opacity: 1;
}
.sqs-video-background.mobile iframe,
.sqs-video-background.mobile .default-fallback-image {
  display: none;
}
.sqs-video-background.mobile .custom-fallback-image {
  display: block;
  opacity: 1;
}
