/* CSS Document */
.tv-recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.tv-recipes-wrapper .video-recipe-item {
  width: 50%;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .tv-recipes-wrapper .video-recipe-item {
    width: 100%;
  }
}
.tv-recipes-wrapper .video-recipe-item .sqs-block-button {
  margin-bottom: 10px;
}
.tv-recipes-wrapper .video-recipe-item-inner {
  padding: 10px;
}
.tv-recipes-wrapper .video-recipe-item-inner h2 {
  margin-bottom: 0;
}
.tv-recipes-wrapper .thumbnail {
  width: 100%;
  height: 16.5vw;
}
@media (max-width: 900px) {
  .tv-recipes-wrapper .thumbnail {
    height: 220px;
  }
}
.tv-recipes-wrapper .thumbnail img {
  width: 100%;
  height: auto;
}
.tv-recipes-wrapper .video-recipe-button {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 0;
  padding: 8px 20px;
  width: 190px;
}
.tv-recipes-wrapper h2 {
  margin-top: 8px;
}
#collection-5f1824702dfe8a5bde67d18d {
  min-height: 1px;
}
#collection-5f1824702dfe8a5bde67d18d #page-title {
  display: none;
}
#collection-5f1824702dfe8a5bde67d18d .main-content .sqs-block-button-element--medium {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 0;
  padding: 8px 20px;
  width: 190px;
}
.category-cookbook .article-meta {
  display: none;
}
#recipePagePopupContent {
  display: none;
}
.body-cookbook-recipe #commenting,
.body-cookbook-recipe .item.pagination {
  display: none;
}
.body-cookbook-recipe .article-dateline {
  display: none;
}
.body-cookbook-recipe .custombox-content .closer,
.body-cookbook-video-recipe .custombox-content .closer {
  position: absolute;
  right: -20px;
  top: -21px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  pointer-events: none;
}
.body-cookbook-recipe .custombox-content .popup-content,
.body-cookbook-video-recipe .custombox-content .popup-content {
  position: relative;
  width: 560px;
  height: 630px;
  z-index: 999;
  background: white;
}
.body-cookbook-recipe .custombox-content .popup-content .popup-inner-wrapper,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-inner-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.body-cookbook-recipe .custombox-content .popup-content .popup-top,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-top {
  height: 40%;
  background-size: cover;
  background-position: center center;
}
.body-cookbook-recipe .custombox-content .popup-content .popup-top img,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-top img {
  display: none;
}
.body-cookbook-recipe .custombox-content .popup-content .popup-bottom,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-bottom {
  height: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.body-cookbook-recipe .custombox-content .popup-content .popup-bottom .popup-title-wrapper,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-bottom .popup-title-wrapper {
  height: 50%;
}
.body-cookbook-recipe .custombox-content .popup-content .popup-bottom .popup-title-wrapper h2,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-bottom .popup-title-wrapper h2 {
  font-size: 30px;
  margin-bottom: 0;
}
.body-cookbook-recipe .custombox-content .popup-content .popup-bottom .popup-title-wrapper p,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-bottom .popup-title-wrapper p {
  margin-top: 15px;
}
@media (max-width: 640px) {
  .body-cookbook-recipe .custombox-content .popup-content .popup-bottom .popup-title-wrapper p,
  .body-cookbook-video-recipe .custombox-content .popup-content .popup-bottom .popup-title-wrapper p {
    line-height: 120%;
  }
}
.body-cookbook-recipe .custombox-content .popup-content .popup-bottom .popup-actions,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-bottom .popup-actions {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-cookbook-recipe .custombox-content .popup-content .popup-bottom .popup-actions img,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-bottom .popup-actions img {
  width: 200px;
}
@media (max-width: 640px) {
  .body-cookbook-recipe .custombox-content .popup-content .popup-bottom .popup-actions img,
  .body-cookbook-video-recipe .custombox-content .popup-content .popup-bottom .popup-actions img {
    width: 140px;
  }
}
.body-cookbook-recipe .custombox-content .popup-content .popup-bottom .popup-actions .modal-button,
.body-cookbook-video-recipe .custombox-content .popup-content .popup-bottom .popup-actions .modal-button {
  background: black;
  color: white;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 20px;
}
