/* CSS Document */

.tv-recipes-wrapper {
	display: flex;
	flex-wrap: wrap;
	.video-recipe-item {
		width: 50%;
    margin-bottom: 30px;
		@media (max-width: 900px) {
			width: 100%;
		}
		.sqs-block-button {
			margin-bottom: 10px;
		}
	}
	.video-recipe-item-inner {
		padding: 10px;
		h2 {
			margin-bottom: 0;
		}
	}
	.segment-length {
		margin-top: 0;
		font-style: italic;
		font-size: 12px;
	}
	.thumbnail {
		width: 100%;
		height: 18.5vw;
		max-height: 300px;
		@media (max-width: 900px) {
			height: 220px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.video-recipe-button {
		font-weight: 100;
		font-size: 16px;
		letter-spacing: 0;
		padding: 8px 20px;
		width: 190px;
	}
	h2 {
		margin-top: 8px;
	}
}





#collection-5f1824702dfe8a5bde67d18d {
	min-height: 1px;
	#page-title {
		//display: none;
	}
	.main-content {
		.sqs-block-button-element--medium {
			font-weight: 100;
			font-size: 16px;
			letter-spacing: 0;
			padding: 8px 20px;
			width: 190px;
		}
	}
}

.body-cookbook-video-recipe {
	
}
.category-cookbook {
	.article-meta {
		display: none;
	}
}


#recipePagePopupContent {
	display: none;
}

.body-cookbook-recipe {
	#commenting,
	.item.pagination {
		display: none;
	}
	.article-dateline {
		display: none;
	}
}

.body-cookbook-recipe,
.body-cookbook-video-recipe {
	
	.custombox-content {
		.closer {
			position: absolute;
			right: -20px;
			top: -21px;
			color: white;
			font-size: 22px;
			cursor: pointer;
			pointer-events: none;
		}
		.popup-content {
//			position: fixed;
//			top: 50%;
//			left: 50%;
//			transform: translate(-50%, -50%);
			position: relative;
			width: 560px;
			height: 630px;
			z-index: 999;
			background: white;
			.popup-inner-wrapper {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
			}
			.popup-top {
				height: 40%;
				background-size: cover;
    		background-position: center center;
				img {
					display: none;
				}
			}
			.popup-bottom {
				height: 60%;
				display: flex;
				flex-direction: column;
				    padding: 20px 30px;
				.popup-title-wrapper {
					height: 50%;
					h2 {
						font-size: 30px;
    margin-bottom: 0;
					}
					p {
						margin-top: 15px;
						@media (max-width: 640px) {
							line-height: 120%;
						}
					}
				}
				.popup-actions {
					height: 50%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					img {
						width: 200px;
						@media (max-width: 640px) {
							width: 140px;
						}
					}
					.modal-button {
						background: black;
						color: white;
						padding: 15px 30px;
						font-weight: bold;
						font-size: 20px;
					}
				}
			}
		}
	}
}